/* ==UserStyle==
@name           Perplexity Light Interface style 
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("www.perplexity.ai") {
    /* Insert code here... */
	
	
	



	
	
	
	
	
	

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
/*Font Import */
	
	
	/*Importing Margon */
	
	
	/*Margon Medium Import */
	
@font-face {
    font-family: "Margon 360 W08 Medium";
    src: url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.eot");
    src: url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.svg#Margon 360 W08 Medium")format("svg");
}	
	
	
	@import url(https://db.onlinewebfonts.com/c/90100147a9b552a477200bfb737766e5?family=Margon+360+W08+Medium);

	
	
	
	/*Bricolage Grotesque Import */
	
	
	
	
	@font-face {
    font-family: "Bricolage Grotesque";
    src: url("https://db.onlinewebfonts.com/t/102353a74d2e0700af3e11ef8a917b26.eot");
    src: url("https://db.onlinewebfonts.com/t/102353a74d2e0700af3e11ef8a917b26.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/102353a74d2e0700af3e11ef8a917b26.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/102353a74d2e0700af3e11ef8a917b26.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/102353a74d2e0700af3e11ef8a917b26.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/102353a74d2e0700af3e11ef8a917b26.svg#Bricolage Grotesque")format("svg");
}
	
	
	
	@import url(https://db.onlinewebfonts.com/c/102353a74d2e0700af3e11ef8a917b26?family=Bricolage+Grotesque) ;  
	
	
	
	
	
	
	/*Lora Font Import*/
	@font-face {
    font-family: "Lora";
    src: url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.eot");
    src: url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.svg#Lora")format("svg");
}
	
	
	
	
	
	
	@import url(https://db.onlinewebfonts.com/c/5c803199923a6ed48112bebbb486b3e0?family=Lora);
	
	
	
	
	
	
	
	/*Lingistics Pro Font  */
	
	@font-face {
    font-family: "Linguistics Pro";
    src: url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.eot");
    src: url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.svg#Linguistics Pro")format("svg");
}
	@import url(https://db.onlinewebfonts.com/c/3612352f3b0606a3a5d675e7279f7c17?family=Linguistics+Pro);
	
	
	
	
	
	/*Commit Mono*/
	
	@font-face {
    font-family: "CommitMono";
    src: url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.eot");
    src: url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.svg#CommitMono")format("svg");
}
	
	
	
	@import url(https://db.onlinewebfonts.com/c/3d911dba955015058da8755197d0a58c?family=CommitMono);
	
		
	
	
	
	/*Fira Mono */
		
	/* 
	
	Fira Mono font weights:
  - Fira Mono 400 (Regular)
  - Fira Mono 500 (Medium)
  - Fira Mono 700 (Bold)
*/
	
	
/* fira-mono-regular - latin */
/* fira-mono-latin-400-normal */
	/* fira-mono-latin-400-normal */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-display: auto;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/fira-mono@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/fira-mono@latest/latin-400-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/fira-mono@latest/latin-400-normal.ttf) format('truetype');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
	
	
	
	
	

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

    :root

{
    /* 0 is for darkest 
    1 is for hard 
    higher values for hard  */


    /* 2.1 Dark theme color variables */
    --bg0-dh:       #1d2021;
    --bg-dark-new  :  #1F1E1D ; 
/*For basic text new color added  	 */
--text-normal :#ffd29c ;

    --shadow-bg:         #1d1b1a;
    
    --bg1-dark:       #3c3836;
    --bg-dark:        #282828;
    --bg2-dark:       #504945;
    --bg3-dark:       #665c54;
    --bg4-dark:       #7c6f64;
    --bg5-dark:       #928374;
    --bg_visual:      #503946;
    --bg_red:         #cc241d;
    --bg_green:       #98971a;
    --bg_blue:        #458588;
    --bg_yellow:      #d79921;
    --shadow:         #16181a;
    --shadow-var1:         #17191b;
    --shadow-cur:         #1a1b1d;

    --fg-dark:        #ebdbb2;
    --grey0-dark:     #7f897d;
    --grey1-dark:     #859289;
    --grey2-dark:     #9aa79d;

    --faded-red:     #fb4934;
    --faded-orange:  #fe8019;
    --faded-yellow:  #fabd2f;
    --faded-green:   #b8bb26;
    --faded-aqua:    #8ec07c;
    --faded-blue:    #83a598;
    --faded-purple:  #d3869b;

    --dim-red:       #cc241d;
    --dim-orange:    #d65d0e;
    --dim-yellow:    #d79921;
    --dim-green:     #98971a;
    --dim-aqua:      #689d6a;
    --dim-blue:      #458588;
    --dim-purple:    #b16286;


    /* 2.2 Light theme color variables */
    --bg0-light:     #f0edd8;
    --bg1-light:     #f6f1dd;
    --bg-light:      #fdf6e3;
    --bg2-light:     #f3efda;
    --bg3-light:     #edead5;
    --bg4-light:     #e4e1cd;
    --bg5-light:     #dfdbc8;
    --grey0-light:   #a4ad9e;
    --grey1-light:   #939f91;
    --grey2-light:   #879686;
    --shadow-light:  #3c474d20;


    --text-offwhite: #fbf1c7;
    --text-offyellowish: #f2e5bc;
    --text-white: #f9f5d7;
    --text-offwhite-faded: #ebdbb2;
    --text--faded: #d5c4a1;
    --text--veryfade: #928374;

    

    



    --bg_visual_light:      #eaedc8;
    --bg_red_light:         #fbe3da;
    --bg_green_light:       #f0f1d2;
    --bg_blue_light:        #e9f0e9;
    --bg_yellow_light:      #faedcd;

    --fg-light:       #5c6a72;

    --light-red:     #f85552;
    --light-orange:  #f57d26;
    --light-yellow:  #bf983d;
    --light-green:   #899c40;
    --light-aqua:    #569d79;
    --light-blue:    #5a93a2;
    --light-purple:  #b87b9d;

    --light-dim-red:    #f1706f;
    --light-dim-orange: #f39459;
    --light-dim-yellow: #e4b649;
    --light-dim-green:  #a4bb4a;
    --light-dim-aqua:   #6ec398;
    --light-dim-blue:   #6cb3c6;
    --light-dim-purple: #e092be;



 --dark-red: #9d0006;    /* faded_red: #9d0006 [red] 88 [9] 157-0-6 137-0-9 #890009 */
  --dark-green: #79740e;  /* faded_green: #79740e [green] 100 [10] 121-116-14 102-98-13 #66620d */
  --dark-yellow: #b57614; /* faded_yellow: #b57614 [yellow] 136 [11] 181-118-20 165-99-17 #a56311 */
  --dark-blue: #076678;   /* faded_blue: #076678 [blue] 24 [12] 7-102-120 14-83-101 #0e5365 */
  --dark-purple: #8f3f71; /* faded_purple: #8f3f71 [purple] 96 [13] 143-63-113 123-43-94 #7b2b5e */
  --dark-aqua: #427b58;   /* faded_aqua: #427b58 [aqua] 66 [14] 66-123-88 53-106-70 #356a46 */
  --dark-orange: #af3a03;


/* light colors */
  --interface-light0-hard: #f9f5d7; /* light0_hard: #f9f5d7 [h0] 230 [ ] 249-245-215 248-244-205 #f8f4cd */
  --interface-light0: #fbf1c7; /* light0: #fbf1c7 [fg0][bg0] 229 [0] 251-241-199 250-238-187 #faeebb */
  --interface-light0-soft: #f2e5bc; /* light0_soft: #f2e5bc [s0] 228 [ ] 242-229-188 239-223-174 #efdfae */
  --interface-light1: #ebdbb2; /* light1: #ebdbb2 [fg1][bg1] 223 [15] 235-219-178 230-212-163 #e6d4a3 */
  --interface-light2: #d5c4a1; /* light2: #d5c4a1 [fg2][bg2] 250 [ ] 213-196-161 203-184-144 #cbb890 */
  --interface-light3: #bdae93; /* light3: #bdae93 [fg3][bg3] 248 [ ] 189-174-147 175-159-129 #af9f81 */
  --interface-light4: #a89988; /* light4: #a89988 */


 
	
	
	}
	

	
	
	
	
	
	/*Main PAGE*/
	/*Front page */
	.flex-col {
		background-color:#f9f5d7 !important;
}
	

	
	
	
	
	
/*text placeholder hidden */
textarea::placeholder {
  color: transparent !important;
	opacity: 0 !important ; 
}

textarea::placeholder::before {
  content: "Write something else here...";
  color: #ccc; /* adjust the color to your liking */
}
	
	
	
	/*Add font here */
	/*Input box styles  */
	.dark\:ring-borderMainDark:is(.dark *) ,  
	textarea.overflow-auto{
    --tw-ring-opacity: 1;
    --tw-ring-color:  #b8bb26 !important  ; 
		background: #f9f5d7 !important ; 
		font-family: "Fira Mono" !important ; 
		font-style:  normal !important ; 
		font-size: 14px !important ;
		font-weight:800 !important ;
	}	
	
	/*lower background */
	div.bg-background  {
		background-color:#f9f5d7 !important;
	}
	
	
		
	/* Target the button */
button.md\:hover\:bg-offsetPlus{
    color:#3c3836 !important;
}
	

	
	/* Target the button on hover */
button.md\:hover\:bg-offsetPlus:hover {
    background-color: #7c6f64 !important; 
    color:#ffd29c !important;
}

	
	/*Background of the Input stack */
	.dark\:border-borderMainDark {
    --tw-border-opacity: 1;
    border-color: #b8bb26 !important;
}
	
	/*Pro Button  when clicked */
	/*Pro button after click */
	.dark\:text-superDark {
    --tw-text-opacity: 1;
    color: #fb4934 !important  ; 
}

	.data-\[state\=checked\]\:dark\:before\:\!bg-superDark[data-state=checked]:before {
    content: var(--tw-content);
    --tw-bg-opacity: 1!important;
    background-color: #b8bb26 !important ; 
}
	
	/*Pro SVG button link */
	.before\:dark\:bg-textOffDark:is(.dark *):before {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: #625e07 !important  ;  
}
	
	
	/* Target the main container */
.flex.w-full.cursor-pointer{
    border: solid 1px  #8ec07c !important; 
    background-color:#f2e5bc !important; 
    color: #fb4934 !important; 
    padding: 4px; 
    transition: all 0.3s ease-in-out !important; 
}
	

	
	
	/*suggestions color under  the input workflow */
	.dark\:text-textMainDark:is(.dark *) {
    --tw-text-opacity: 1;
	font-family: "CommitMono" !important  ; 
		font-size: 0.857rem !important ; 
		color: #1d1b1a !important;
}
	
	
	/*send button background */
	button.bg-idle {
    background-color: #d5c4a1 !important; 
}
	
	
	/*Not sure what this applies to */
	.dark\:bg-superDark {
    --tw-bg-opacity: 1;
    background-color: #f9f5d7 !important ; 
}
	
	
	
	
	/*SIDEBAR*/
	
/* Target the main div */
div.flex.items-center.leading-none.min-w-0.justify-left.w-full.gap-xs {
    color:#7c6f64 !important  ; 
    transition: all 0.3s ease-in-out; /* Ensure smooth transition */
}

	
	


	/*Home discover learn more adn DOwnload button text color */
	div.text-align-center.relative.truncate{
		color: #79740e !important ; 
	}
	
	
	
	
	
	/*BOTTOM OF THE PAGE */
	
	/*Change the color of the links bottom of the page */
	
	div.flex.flex-wrap.items-center.gap-x-md.gap-y-sm.px-sm.pb-2xl.md\:justify-center.md\:px-0.md\:pb-0 > a > div > div {
  color: #d5c4a1; /* replace with your desired color */
}
	

	
	
	/*Interface inside the select langauge */
	div.relative.flex.cursor-pointer.items-center{
  color: #d5c4a1; /* replace with your desired color */
}
	
	
	
	
	
	
	
	/*Top bar button */
	
	/*Control I click button back button */
	/*I click button */
	div.flex.h-5.w-5.items-center{
  color: #458588  !important;
		background-color:#f9f5d7 !important;
		border: solid 3px #504945 !important ; 
}
	
	/*Contorl button */
	div.font-mono.text-xs {
		 color: #458588  !important;
		background-color:#f9f5d7 !important;
		border: solid 3px #665c54 !important ; 
}
	
	
	/*The control and I button background */
	div.group.mx-md.flex.flex-none.cursor-pointer.select-none.items-center.justify-between.rounded-full {
  background-color: #f9f5d7 !important;
  border-color: #8ec07c  !important;
}
	
	
	
	
	/*sVG*/
	
	svg#specific-svg  , path.block {
	display: none !important ; 
	}
	
	path.stroke-super {
  stroke: #f9f5d7 !important ; 
		fill : #83a598 !important ; 
  stroke-width: 3px !important;
}
	
	
	/*Perplexity logo color change (stroke color ) */
	.dark\:stroke-superDark:is(.dark *) {
    stroke: #f9f5d7 !important ;
		fill: #fe8019  !important ; 
}
	
	/*All app svg color */
	svg {
		color : #fb4934 !important ; 
	}
	

	
	
	
	
	/*HIDDEN ELEMENTS*/

		

	/*download div hidden */
	
	/* div.mb-sm.flex.items-center.justify-between {
	display: none !important ;  
}
	*/
	
	/*Link hudden */
/*	div.px-md.pb-sm> div > div > a.duration-300{
  display: none !important;
}
	*/
	
	/*The promptional tips */
	/*div.light.font-sans.text-sm.text-textOff{
  display: none;
}
	*/
	
	

	/*Hide the Where the knowledge begins text */
	 span.font-regular.font-display.text-3xl{
  display: none;
}
	
	
	
	
	
	
	

	/*learn more button opacity (hiddnen ) */
	.bg-offsetPlus.dark\:bg-offsetPlusDark.text-textMain.dark\:text-textMainDark {
opacity: 0 !important  ; 
}

	
	/*Try PRO button opacity */
a[href="/pro"] {
  display: none !important;
}
	
	
	div.light.font-sans.text-sm.text-textOff.dark\:text-textOffDark:nth-child(2) {
  opacity : 0 !important  ; 
}
	
	
	
	
	.line-clamp-1.overflow-hidden.text-clip.light.font-sans.text-sm.font-medium.text-textOff.dark\:text-textOffDark {
  /* Add new text before the existing text */
  ::before {
    content: "New Thread " !important;
    font-size: inherit;
    color: inherit;
  }
}
	
	
	
	
	
	
	
	
	
	/*caret area*/
	/*Caret  text area */
	textarea{
		caret-color: #98971a !important ; 
	}
	
	


	
	/*Font for the suggested changes */
	.group.flex.cursor-pointer.items-center.justify-between.py-sm  , divdiv.transition-all{
font-family: "CommitMono" !important ; 
		
	}
	
	
	
	
		
		/*ANSWER PAGE STYLES */
	
	/*User question */
div.flex-col h1.text-3xl , div.whitespace-pre-line.break-words.default.font-display.text-3xl.font-regular.text-textMain.dark\:text-textMainDark{
  color: #689d6a !important;
	font-size: 16px !important ; 
	font-weight: 600 !important ; 
	font-family: "Chivo" !important ;  
}
	

	/*Main answer background border */
	a.group.flex.w-full.cursor-pointer.items-stretch.h-full {
  border-color: #8ec07c  !important;
		background-color:#f9f5d7 !important;
		border-width: 4px !important ;
	border-radius: 0.3rem !important ;  
}
	
	/*color of the link inside the sources */
	a.group.flex.w-full.cursor-pointer.items-stretch.h-full div.space-x-xs.flex.items-center  , div.line-clamp-1.break-all{
  color: #fb4934  !important;
		font-family: "Chivo" !important ; 
		font-size: 0.8rem !important ; 
}
	
	div.line-clamp-1, div.line-clamp-3 {
	 color:#504945 !important;
		font-weight : 500 !important ; 
		font-family: "chivo" !important ; 
		
		
		
	}
	
	
	/*H2 Headings inside the Heading */
	h2.mb-2.mt-6.text-lg{
  color: #427b58  !important;
    font-family: "Bricolage Grotesque" !important;
		font-weight: 700 !important ;  
}
	
	/*Paragraph syles are not working since something else is controlling this font */
	p {
		color: #fb4934 !important ; 
		font-family: "Chivo" !important ; 
	}
	

	li {
		color  : #3c3836 !important ; 
	/*	font-family: "Lora medium" !important ;   */
		@import url(https://db.onlinewebfonts.com/c/90100147a9b552a477200bfb737766e5?family=Margon+360+W08+Medium);
		font-family: "Margon 360 W08 Medium" !important;
		font-weight: 400 !important ; 
		
	}
	
	li::marker{
		color: #98971a !important ; 
	}
	
	
	
	
	/*Font size everywhere */
	div > span {
  font-size: 15px !important;
}

	
	
	strong {
		color:#625e07 !important;
 	    font-family: "Bricolage Grotesque" !important;
		font-size: 0.92rem !important ; 
	}
	
	
	
	
	
		/* Sidebar hisotry elements  */
span.line-clamp-1 {
    color: #427b58 !important; 
	
    font-family: 'CommitMono' !important; 
    font-size: 12px !important; 
    font-weight: 600; 
    line-height: 1.5; 
    letter-spacing: 0px !important; 
}
	
	
	/*LINKS */
	/*link color */
	a.break-word {
  color: #fb4934 !important;
  font-family: 'jetbrains Mono' !important;
}
	
	/*link hover */
	a.break-word:hover {
  color: #427b58 !important;
		transition: color 0.4s ease-in-out !important; 
  font-family: 'jetbrains Mono' !important;
  text-decoration: none !important;
}
	
	
	
	
	
	/*CITATIONS*/
	/*Target span elements (citatons )*/
	span.inline-flex.h-\[1rem\].min-w-\[1rem\].items-center {
  color: #458588 !important;
  background-color: #fdf6e3 !important;
		font-family: "commitMono" !important ; 
		font-size : 0.7rem !important ; 
		font-weight: 500 !important ; 
		border: solid 2.7px #83a598  !important ; 
		padding: 6.4px 10px 5px 10px !important ; 
}
	/*hover for the citation*/
		span.inline-flex.h-\[1rem\].min-w-\[1rem\].items-center:hover{
  color: #fb4934 !important;
  background-color: #fdf6e3 !important;
		font-family: "commitMono" !important ; 
		font-size : 0.7rem !important ; 
		font-weight: 500 !important ; 
		border: solid 2.7px #fb4934  !important ; 
			transition: padding 0.4s ease-in-out !important; 
}
	
	/*Search images adn stuff left side bar*/
	/*Right aside bar */
	div.default div:nth-child(2) div {
  color  : #665c54 !important ; 
		font-weight: 600 !important ; 
		font-size: 14px !important ;  
		font-family: "Chivo" !important  ; 
}


	/*Youtube citation */
:is(.ace_placeholder.ace_comment,.font-mono), :is(code,.font-mono) {
	color:#fb4934 !important;
	background-color:#f9f5d7 !important;
		padding: 9px 13px 9px 13px !important ; 
    font-synthesis: none;
    font-weight: 700 !important;
font-family: "commitMono" !important ; 
	font-size: 14px !important; 
}
	
	/*Code Styles*/
	/*Most Inner code div*/
	.sc-gEvDqW.bMrXuF code {
  background-color: #f2e5bc !important ; 
		border: solid 3px #83a598 !important ; 
}
	
	
	/* Code Language  name */
	.text-textOff.dark\:text-textOffDark.bg-offsetPlus.dark\:bg-offsetPlusDark {
  color: #fb4934 !important; 
  background-color: transparent !important;
		border  : solid 1px !important ; 
		border-radius: 4px !important ; 
		padding : 1px 19px 1px 19px !important ; 
	}
	
	

	
	
/* Applies border to all inline code blocks except .sc-gEvDqW.bMrXuF and .text-textOff.dark\:text-textOffDark.bg-offsetPlus.dark\:bg-offsetPlusDark */
code:not(.sc-gEvDqW.bMrXuF code):not(.text-textOff.dark\:text-textOffDark.bg-offsetPlus.dark\:bg-offsetPlusDark code) {
  border: 2.4px solid #fb4934 !important;
  padding: 1px 17px 1px 17px !important;
  border-radius: 6px !important;
  background-color: #fbf1c7 !important;
  color: #fb4934 !important;
}
	
	
	
	
	
	/*Books Recommandation background */
/* Targets the background div and changes its color */
div.gap-x-md.p-sm.rounded-lg , cursor-pointer.border{
  background-color: #f2e5bc !important; /* Replace with your desired background color */
}
	
	
	/*Site where the infromatiion is pulled from -> background color */
	/*Background color  */
	.p-sm.flex.h-full.w-full.items-center.rounded-lg{
  background-color :  #fbf1c7 !important ; 
	}

	
	
	
	/* Hover for the background color   */
	.p-sm.flex.h-full.w-full.items-center.rounded-lg:hover{
  background-color :  #ffd29c !important ; 
	}

	
	/*Hovers for the Home  discover and libaray button */
	.md\:hover\:bg-offsetPlus:hover , button.md\:hover\:bg-offsetPlus:hover{
		background-color:#f2e5bc !important;
	}
	
	
	
	
	
	/*Not sure */
	div.inline-flex.h{
  color:#fabd2f  !important;
}
	
	
	
	
	
	
	
	
	
	
	
}
