
/* ==UserStyle==
@name           Perplexity Light Interface style 
@namespace      github.com/openstyles/stylus
@version        1.1.8
@description    A new userstyle
@author         Me
==/UserStyle== */
@-moz-document domain("www.perplexity.ai") {

	
	
	
@import url('https://c.webfontfree.com/c.js?f=HardingTextWeb-Regular');
@import url(https://db.onlinewebfonts.com/c/7732caef9ed946f7916b3f650e8837c2?family=Harding+Text+Web+Regular+Regular);

@font-face {
    font-family: "Harding Text Web Regular Regular";
    src: url("https://db.onlinewebfonts.com/t/7732caef9ed946f7916b3f650e8837c2.eot");
    src: url("https://db.onlinewebfonts.com/t/7732caef9ed946f7916b3f650e8837c2.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/7732caef9ed946f7916b3f650e8837c2.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/7732caef9ed946f7916b3f650e8837c2.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/7732caef9ed946f7916b3f650e8837c2.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/7732caef9ed946f7916b3f650e8837c2.svg#Harding Text Web Regular Regular")format("svg");
}

@font-face {
    font-family: "Margon 360 W08 Medium";
    src: url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.eot");
    src: url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.svg#Margon 360 W08 Medium")format("svg");
}

@import url(https://db.onlinewebfonts.com/c/90100147a9b552a477200bfb737766e5?family=Margon+360+W08+Medium);

@font-face {
  font-family: 'Bricolage Grotesque Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 200 800;
  font-stretch: 75% 100%;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/bricolage-grotesque:vf@latest/latin-standard-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
    font-family: "Lora";
    src: url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.eot");
    src: url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.svg#Lora")format("svg");
}

@import url(https://db.onlinewebfonts.com/c/5c803199923a6ed48112bebbb486b3e0?family=Lora);

@font-face {
    font-family: "Linguistics Pro";
    src: url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.eot");
    src: url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.svg#Linguistics Pro")format("svg");
}
@import url(https://db.onlinewebfonts.com/c/3612352f3b0606a3a5d675e7279f7c17?family=Linguistics+Pro);

@font-face {
    font-family: "CommitMono";
    src: url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.eot");
    src: url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.svg#CommitMono")format("svg");
}

@import url(https://db.onlinewebfonts.com/c/3d911dba955015058da8755197d0a58c?family=CommitMono);

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-display: auto;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/fira-mono@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/fira-mono@latest/latin-400-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/fira-mono@latest/latin-400-normal.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Spline Sans Variable';
  font-style: normal;
  font-display: auto;
  font-weight: 300 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/spline-sans:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Hack";
    src: url("https://db.onlinewebfonts.com/t/4fea277591543c1fd64a9cf06ec5803a.eot");
    src: url("https://db.onlinewebfonts.com/t/4fea277591543c1fd64a9cf06ec5803a.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/4fea277591543c1fd64a9cf06ec5803a.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/4fea277591543c1fd64a9cf06ec5803a.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/4fea277591543c1fd64a9cf06ec5803a.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/4fea277591543c1fd64a9cf06ec5803a.svg#Hack")format("svg");
}

@font-face {
    font-family: "Karla";
    src: url("https://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.eot");
    src: url("https://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.svg#Karla")format("svg");
}

@font-face {
    font-family: "Karla Medium";
    src: url("https://db.onlinewebfonts.com/t/b2df7a6681d7895a21fc77cda56d14dd.eot");
    src: url("https://db.onlinewebfonts.com/t/b2df7a6681d7895a21fc77cda56d14dd.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/b2df7a6681d7895a21fc77cda56d14dd.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/b2df7a6681d7895a21fc77cda56d14dd.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/b2df7a6681d7895a21fc77cda56d14dd.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/b2df7a6681d7895a21fc77cda56d14dd.svg#Karla Medium")format("svg");
}

@font-face {
    font-family: "Karla Bold";
    src: url("https://db.onlinewebfonts.com/t/b45be274b8b65fc9c72b038d72486edd.eot");
    src: url("https://db.onlinewebfonts.com/t/b45be274b8b65fc9c72b038d72486edd.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/b45be274b8b65fc9c72b038d72486edd.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/b45be274b8b65fc9c72b038d72486edd.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/b45be274b8b65fc9c72b038d72486edd.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/b45be274b8b65fc9c72b038d72486edd.svg#Karla Bold")format("svg");
}

@font-face {
    font-family: "Archivo";
    src: url("https://db.onlinewebfonts.com/t/9868bcbea8d6cd3f78182d7829e5dd3e.eot");
    src: url("https://db.onlinewebfonts.com/t/9868bcbea8d6cd3f78182d7829e5dd3e.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/9868bcbea8d6cd3f78182d7829e5dd3e.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/9868bcbea8d6cd3f78182d7829e5dd3e.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/9868bcbea8d6cd3f78182d7829e5dd3e.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/9868bcbea8d6cd3f78182d7829e5dd3e.svg#Archivo")format("svg");
}

@font-face {
  font-family: 'Literata Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 200 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/literata:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
    font-family: "Fantasque Sans Mono";
    src: url("https://db.onlinewebfonts.com/t/211343016ad291ba6eb1ac0ccc29761c.eot");
    src: url("https://db.onlinewebfonts.com/t/211343016ad291ba6eb1ac0ccc29761c.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/211343016ad291ba6eb1ac0ccc29761c.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/211343016ad291ba6eb1ac0ccc29761c.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/211343016ad291ba6eb1ac0ccc29761c.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/211343016ad291ba6eb1ac0ccc29761c.svg#Fantasque Sans Mono")format("svg");
}

@font-face {
    font-family: "Fantasque Sans Mono Bold";
    src: url("https://db.onlinewebfonts.com/t/9806c95303ad6b6b2a8a45c07479e6a0.eot");
    src: url("https://db.onlinewebfonts.com/t/9806c95303ad6b6b2a8a45c07479e6a0.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/9806c95303ad6b6b2a8a45c07479e6a0.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/9806c95303ad6b6b2a8a45c07479e6a0.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/9806c95303ad6b6b2a8a45c07479e6a0.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/9806c95303ad6b6b2a8a45c07479e6a0.svg#Fantasque Sans Mono Bold")format("svg");
}

@font-face {
  font-family: 'JetBrains Mono Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/jetbrains-mono:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: 'Inclusive Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inclusive-sans@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/inclusive-sans@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: 'Manrope Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 200 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/manrope:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: 'Geist Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-100-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-100-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-100-normal.ttf) format('truetype');
}

@font-face {
  font-family: 'Geist Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-200-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-200-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-200-normal.ttf) format('truetype');
}

@font-face {
  font-family: 'Geist Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-300-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-300-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-300-normal.ttf) format('truetype');
}

@font-face {
  font-family: 'Geist Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-400-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-400-normal.ttf) format('truetype');
}

@font-face {
  font-family: 'Geist Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-500-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-500-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-500-normal.ttf) format('truetype');
}

@font-face {
  font-family: 'Geist Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-600-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-600-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-600-normal.ttf) format('truetype');
}

@font-face {
  font-family: 'Geist Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-700-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-700-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-700-normal.ttf) format('truetype');
}

@font-face {
  font-family: 'Geist Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-800-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-800-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-800-normal.ttf) format('truetype');
}

@font-face {
  font-family: 'Geist Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-900-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-900-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-900-normal.ttf) format('truetype');
}

@font-face {
  font-family: 'Geist Mono Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-mono:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: 'Baskervville';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/baskervville@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/baskervville@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
    font-family: "Tiempo";
    src: url("https://db.onlinewebfonts.com/t/6f65976f4ccc28924b5f6544cbfa8b2b.eot");
    src: url("https://db.onlinewebfonts.com/t/6f65976f4ccc28924b5f6544cbfa8b2b.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/6f65976f4ccc28924b5f6544cbfa8b2b.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/6f65976f4ccc28924b5f6544cbfa8b2b.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/6f65976f4ccc28924b5f6544cbfa8b2b.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/6f65976f4ccc28924b5f6544cbfa8b2b.svg#Tiempo")format("svg");
}

	
	
	
	/* bricolage-grotesque-latin-wght-normal */
@font-face {
  font-family: 'Bricolage Grotesque Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 200 800;
  font-stretch: 75% 100%;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/bricolage-grotesque:vf@latest/latin-standard-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

	
	
:root {
    --bg0-dh: #1d2021 !important;
    --bg-dark-new: #1F1E1D !important;
    --text-normal: #ffd29c !important;
    --shadow-bg: #1d1b1a !important;
    --bg1-dark: #3c3836 !important;
    --bg-dark: #282828 !important;
    --bg2-dark: #504945 !important;
    --bg3-dark: #665c54 !important;
    --bg4-dark: #7c6f64 !important;
    --bg5-dark: #928374 !important;
    --bg_visual: #503946 !important;
    --bg_red: #cc241d !important;
    --bg_green: #98971a !important;
    --bg_blue: #458588 !important;
    --bg_yellow: #d79921 !important;
    --shadow: #16181a !important;
    --shadow-var1: #17191b !important;
    --shadow-cur: #1a1b1d !important;
    --fg-dark: #ebdbb2 !important;
    --grey0-dark: #7f897d !important;
    --grey1-dark: #859289 !important;
    --grey2-dark: #9aa79d !important;
    --faded-red: #fb4934 !important;
    --faded-orange: #fe8019 !important;
    --faded-yellow: #fabd2f !important;
    --faded-green: #b8bb26 !important;
    --faded-aqua: #8ec07c !important;
    --faded-blue: #83a598 !important;
    --faded-purple: #d3869b !important;
    --dim-red: #cc241d !important;
    --dim-orange: #d65d0e !important;
    --dim-yellow: #d79921 !important;
    --dim-green: #98971a !important;
    --dim-aqua: #689d6a !important;
    --dim-blue: #458588 !important;
    --dim-purple: #b16286 !important;
    --bg0-light: #f0edd8 !important;
    --bg1-light: #f6f1dd !important;
    --bg-light: #fdf6e3 !important;
    --bg2-light: #f3efda !important;
    --bg3-light: #edead5 !important;
    --bg4-light: #e4e1cd !important;
    --bg5-light: #dfdbc8 !important;
    --grey0-light: #a4ad9e !important;
    --grey1-light: #939f91 !important;
    --grey2-light: #879686 !important;
    --shadow-light: #3c474d20 !important;
    --text-offwhite: #fbf1c7 !important;
    --text-offyellowish: #f2e5bc !important;
    --text-white: #f9f5d7 !important;
    --text-offwhite-faded: #ebdbb2 !important;
    --text--faded: #d5c4a1 !important;
    --text--veryfade: #928374 !important;
    --bg_visual_light: #eaedc8 !important;
    --bg_red_light: #fbe3da !important;
    --bg_green_light: #f0f1d2 !important;
    --bg_blue_light: #e9f0e9 !important;
    --bg_yellow_light: #faedcd !important;
    --fg-light: #5c6a72 !important;
    --light-red: #f85552 !important;
    --light-orange: #f57d26 !important;
    --light-yellow: #bf983d !important;
    --light-green: #899c40 !important;
    --light-aqua: #569d79 !important;
    --light-blue: #5a93a2 !important;
    --light-purple: #b87b9d !important;
    --light-dim-red: #f1706f !important;
    --light-dim-orange: #f39459 !important;
    --light-dim-yellow: #e4b649 !important;
    --light-dim-green: #a4bb4a !important;
    --light-dim-aqua: #6ec398 !important;
    --light-dim-blue: #6cb3c6 !important;
    --light-dim-purple: #e092be !important;
    --dark-red: #9d0006 !important;
    --dark-green: #79740e !important;
    --dark-yellow: #b57614 !important;
    --dark-blue: #076678 !important;
    --dark-purple: #8f3f71 !important;
    --dark-aqua: #427b58 !important;
    --dark-orange: #af3a03 !important;
}

	
	
:root {
	--font-Margon: "Margon 360 W08 Medium" !important;
	--font-BricolageGrotesque: "Bricolage Grotesque Variable" !important;
	--font-Lora: "Lora" !important;
	--font-LinguisticsPro: "Linguistics Pro" !important;
	--font-CommitMono: "CommitMono" !important;
	--font-FiraMono: 'Fira Mono' !important;
	--font-SplineSansVariable: 'Spline Sans Variable' !important;
	--font-Hack: "Hack" !important;
	--font-Karla: "Karla" !important;
	--font-KarlaMedium: "Karla Medium" !important;
	--font-KarlaBold: "Karla Bold" !important;
	--font-Archivo: "Archivo" !important;
	--font-LiterataVariable: 'Literata Variable' !important;
  	--font-JetbrainsVar: 'JetBrains Mono Variable' !important;
  	--font-Jetbrains: 'JetBrains Mono' !important;
  	--font-GeistSans: 'Geist Sans' !important;
	--font-GeistMono: 'Geist Mono Variable' !important;
  	--font-Basker: 'Baskervville' !important;
	--font-Tiempo: "Tiempo" !important;

}

	
	

	/*Font Sans */
	/*Related question */
	.font-sans:not(div.flex.w-full.rounded-lg){
		
		font-family: var(--font-BricolageGrotesque) !important ; 
		font-style: normal !important;
		font-weight: 550 !important;
		color: #282828 !important ;
		font-stretch: semi-condensed !important ;
	}



	.font-sans {
		
		font-size: 0.89rem !important ;
	}

	
	
	
	
	/*Font for the paragraph*/

div.prose:not(span) {
	
		font-size: 1.2rem !important ;
}
	
	/*Bold font */
div.prose > span {
	
		font-size: 1.01rem !important ;
	color: #282828 !important ; 
}







	/*Main PAGE*/
	/*Front page */
	.flex-col {
		background-color: #f9f5d7 !important;
	}







	/*text placeholder hidden */
	textarea::placeholder {
		color: transparent !important;
		opacity: 0 !important;
	}

	textarea::placeholder::before {
		content: "Write something else here...";
		color: #ccc;
		/* adjust the color to your liking */
	}



	/*Add font here */
	/*Input box styles  */
	.dark\:ring-borderMainDark:is(.dark *),
	textarea.overflow-auto {
		--tw-ring-opacity: 1;
		--tw-ring-color: #b8bb26 !important;
		background: #f9f5d7 !important;
		font-family: "Fira Mono" !important;
		font-style: normal !important;
		font-size: 14px !important;
		font-weight: 800 !important;
	}

	/*lower background */
	div.bg-background {
		background-color: #f9f5d7 !important;
	}



	/* Target the button */
	button.md\:hover\:bg-offsetPlus {
		color: #3c3836 !important;
	}



	/* Target the button on hover */
	button.md\:hover\:bg-offsetPlus:hover {
		background-color: #7c6f64 !important;
		color: #ffd29c !important;
	}


	/*Background of the Input stack */
	.dark\:border-borderMainDark {
		--tw-border-opacity: 1;
		border-color: #b8bb26 !important;
	}

	/*Pro Button  when clicked */
	/*Pro button after click */
	.dark\:text-superDark {
		--tw-text-opacity: 1;
		color: #fb4934 !important;
	}

	

	/*Pro SVG button link */
	.before\:dark\:bg-textOffDark:is(.dark *):before {
		content: var(--tw-content);
		--tw-bg-opacity: 1;
		background-color: #625e07 !important;
	}


	/* Target the main container */
	.flex.w-full.cursor-pointer {
		border: solid 1px #8ec07c !important;
		background-color: #f2e5bc !important;
		color: #fb4934 !important;
		padding: 4px;
		transition: all 0.3s ease-in-out !important;
	}




	/*suggestions color under  the input workflow */
	.dark\:text-textMainDark:is(.dark *) {
		--tw-text-opacity: 1;
		font-family: "CommitMono" !important;
		font-size: 0.857rem !important;
		color: #1d1b1a !important;
	}


	/*send button background */
	button.bg-idle {
		background-color: #d5c4a1 !important;
	}


	/*Not sure what this applies to */
	.dark\:bg-superDark {
		--tw-bg-opacity: 1;
		background-color: #f9f5d7 !important;
	}




	/*SIDEBAR*/
	/* Target the main div */
	div.flex.items-center.leading-none.min-w-0.justify-left.w-full.gap-xs {
		color: #7c6f64 !important;
		transition: all 0.3s ease-in-out;
		/* Ensure smooth transition */
	}





	/*Home discover learn more adn DOwnload button text color */
	div.text-align-center.relative.truncate {
		color: #79740e !important;
		font-family: "Bricolage Grotesque" !important; 
	}
	





	/*BOTTOM OF THE PAGE */
	/*Change the color of the links bottom of the page */
	div.flex.flex-wrap.items-center.gap-x-md.gap-y-sm.px-sm.pb-2xl.md\:justify-center.md\:px-0.md\:pb-0 > a > div > div {
		color: #d5c4a1;
		/* replace with your desired color */
	}




	/*Interface inside the select langauge */
	div.relative.flex.cursor-pointer.items-center {
		color: #d5c4a1;
		/* replace with your desired color */
	}







	/*Top bar button */
	/*Control I click button back button */
	/*I click button */
	div.flex.h-5.w-5.items-center {
		color: #458588 !important;
		background-color: #f9f5d7 !important;
		border: solid 3px #504945 !important;
	}

	/*Contorl button */
	div.font-mono.text-xs {
		color: #458588 !important;
		background-color: #f9f5d7 !important;
		border: solid 3px #665c54 !important;
	}


	/*The control and I button background */
	div.group.mx-md.flex.flex-none.cursor-pointer.select-none.items-center.justify-between.rounded-full {
		background-color: #f9f5d7 !important;
		border-color: #8ec07c !important;
	}




	/*sVG*/
	svg#specific-svg,
	path.block {
		display: none !important;
	}

	path.stroke-super {
		stroke: #f9f5d7 !important;
		fill: #83a598 !important;
		stroke-width: 3px !important;
	}


	/*Perplexity logo color change (stroke color ) */
	.dark\:stroke-superDark:is(.dark *) {
		stroke: #f9f5d7 !important;
		fill: #fe8019 !important;
	}

	/*All app svg color */
	svg {
		color: #fb4934 !important;
	}






	/*HIDDEN ELEMENTS*/
	/*download div hidden */
	/* div.mb-sm.flex.items-center.justify-between {
	display: none !important ;  
}
	*/
	/*Link hudden */
	/*	div.px-md.pb-sm> div > div > a.duration-300{
  display: none !important;
}
	*/
	/*The promptional tips */
	/*div.light.font-sans.text-sm.text-textOff{
  display: none;
}
	*/
	/*Hide the Where the knowledge begins text */
	span.font-regular.font-display.text-3xl {
		display: none;
	}








	/*learn more button opacity (hiddnen ) */
	.bg-offsetPlus.dark\:bg-offsetPlusDark.text-textMain.dark\:text-textMainDark {
		opacity: 0 !important;
	}


	/*Try PRO button opacity */
	a[href = "/pro"] {
		display: none !important;
	}


	div.light.font-sans.text-sm.text-textOff.dark\:text-textOffDark:nth-child(2) {
		opacity: 0 !important;
	}




	.line-clamp-1.overflow-hidden.text-clip.light.font-sans.text-sm.font-medium.text-textOff.dark\:text-textOffDark {
		/* Add new text before the existing text */
		::before {
			content: "New Thread " !important;
			font-size: inherit;
			color: inherit;
		}
	}









	/*caret area*/
	/*Caret  text area */
	textarea {
		caret-color: #98971a !important;
	}





	/*Font for the suggested changes */
	.group.flex.cursor-pointer.items-center.justify-between.py-sm,
	divdiv.transition-all {
		font-family: "CommitMono" !important;
	}





	/*ANSWER PAGE STYLES */
	/*User Prommpt */
	/*User question */
	div.flex-col h1.text-3xl,
	div.whitespace-pre-line.break-words.default.font-display.text-3xl.font-regular.text-textMain.dark\:text-textMainDark {
		color: #625e07 !important;
		font-size: 16px !important;
		font-weight: 500 !important;
		font-family: var(--font-GeistSans) !important ; 
		
	}


	/*Main answer background border */
	a.group.flex.w-full.cursor-pointer.items-stretch.h-full {
		border-color: #83a598 !important;
		background-color: #f9f5d7 !important;
		border-width: 3px !important;
		border-radius: 0.3rem !important;
	}

	/*color of the link inside the sources */
	a.group.flex.w-full.cursor-pointer.items-stretch.h-full div.space-x-xs.flex.items-center,
	div.line-clamp-1.break-all {
		color: #fb4934 !important;
		font-family: "Chivo" !important;
		font-size: 0.8rem !important;
	}

	div.line-clamp-1,
	div.line-clamp-3 {
		color: #504945 !important;
		font-weight: 500 !important;
		font-family: "chivo" !important;
	}


	/*H2 Headings inside the Heading */
	h2.mb-2.mt-6.text-lg {
		
		color: #625e07  !important;
	
		/*Font is */
	}
	
	/*Font For headings*/
	
	div h2{
			font-family: var(--font-BricolageGrotesque) !important;
		font-stretch: semi-condensed  !important;
		font-weight: 600 !important;
		
	}
	
	
	
	
	
	
	

	/*Paragraph syles are not working since something else is controlling this font */
	p {
		color: #fb4934 !important;
	}


	li {
		color: #1d1b1a !important;
		/*	font-family: "Lora medium" !important ;   */
		font-family: "Linguistics Pro" !important;
		font-size: 1rem !important;
		font-weight: 400 !important;
	}

	li::marker {
		color: #5c7b42 !important;
		font-weight: 700 !important;
		font-family: "Archivo" !important;
	}




	/*Font size everywhere */
	div > span {
		font-size: 15px !important;
	}







	/* Sidebar hisotry elements  */
	span.line-clamp-1 {
		color: #427b58 !important;

		font-family: 'CommitMono' !important;
		font-size: 12px !important;
		font-weight: 600;
		line-height: 1.5;
		letter-spacing: 0px !important;
	}


	/*LINKS */
	/*link color */
	a.break-word {
		color: #fb4934 !important;
		font-family: 'jetbrains Mono' !important;
		text-decoration: underline !important ; 
	}

	/*link hover */
	a.break-word:hover {
		color: #427b58 !important;
		transition: color 0.4s ease-in-out !important;
		font-family: 'jetbrains Mono' !important;
		text-decoration: none !important;
	}





















	/*Search images adn stuff left side bar*/
	/*Right aside bar */
	div.default div:nth-child(2) div {
		color: #665c54 !important;
		font-weight: 600 !important;
		font-size: 14px !important;
		font-family: "Chivo" !important;
	}

	/*Citation styles */
	/*Youtube citation */
	:is(.ace_placeholder.ace_comment) {
		color: #fb4934 !important;
		background-color: #fbf1c7 !important;
		border: solid 2px #928374 !important;
		padding: 0.1rem 0.6rem !important;
		font-weight: 700 !important;
		font-family: "Hack" !important;
		font-size: 0.8rem !important;
	}



	/*Citations hover */
	/*Youtube Hover */
	.ace_placeholder.ace_comment:hover {

		color: #fb4934 !important;
		background-color: #ffd29c !important;
		border: solid 2px #3c3836 !important;
		padding: 0.2rem 0.9rem !important;
		font-synthesis: none;
		font-weight: 700 !important;
		font-family: "commitMono" !important;
		font-size: 14px !important;
	}




	/*External Websites */
	/*Main Citations*/
div.inline-flex.h-\[1rem\].min-w-\[1rem\].items-center.justify-center.rounded-full.px-\[0\.3em\].text-center.font-mono.text-\[0\.60rem\].tabular-nums.md\:hover\:text-white.border-borderMain\/50.ring-borderMain\/50.divide-borderMain\/50.dark\:divide-borderMainDark\/50.dark\:ring-borderMainDark\/50.dark\:border-borderMainDark\/50.transition.duration-300.bg-offsetPlus.dark\:bg-offsetPlusDark.md\:hover\:bg-super {
    background-color: #f2e5bc !important;
    color: #516d39 !important;
	font-size : 0.78rem !important ; 
	padding : 0.3rem 0.5rem !important; 
    border: 2.2px solid #5c7b42 !important;
	font-family: "Bricolage Grotesque" !important ; 
}







	/*Code Styles*/
	/*Most Inner code div*/
	.sc-gEvDqW.bMrXuF code {
		background-color: #f2e5bc !important;
		border: solid 3px #83a598 !important;
	}


	/* Code Language  name */
.text-text-200 {
    /* Your styles here */
		color: #fb4934 !important;
		background-color: transparent !important;
		font-family: "Jetbrains Mono Variable" , "Jetbrains Mono" !important;
		font-weight: 700 !important;
		border: #98971a solid 2px !important;
		font-size: 0.7rem !important;
		border-radius: 4px !important;
		padding: 0rem 1rem !important;
		line-height: 1rem !important;
	}
	


	
	
	/*waht is this even */
	span.token:not(span){
    font-weight: bold !important;
    color: #5c7b42 !important; 
    padding: 0 3px !important; 
    border-radius: 3px !important; 
}
	

	
	
	
	
	
	

	/*Inline code comments */
	/*Code inline comments */
	/* Applies border to all inline code blocks except .sc-gEvDqW.bMrXuF and .text-textOff.dark\:text-textOffDark.bg-offsetPlus.dark\:bg-offsetPlusDark */
	code:not(.sc-gEvDqW.bMrXuF code):not(.text-textOff.dark\:text-textOffDark.bg-offsetPlus.dark\:bg-offsetPlusDark code) {

		font-family:"Jetbrains Mono"!important;
		font-weight: 700 !important;
		padding: 1px 17px 1px 17px !important;
		border-radius: 6px !important;
		background-color: #fbf1c7 !important;
		color: #fb4934 !important;
	}


	
	
	
	
	/* Style for code blocks  which lead to Border styles */
pre code {
    border: 0.17rem solid #3c3836 !important; 
}

/* Style for inline code */
code:not(pre code) {
    border: 0.17rem solid #fb4934 !important; 
}
	
	


	
	/*Light Grubox Code colors */
	/*Gruvbox Code colors */
	
	
	
	
/* Target the string color */
span.token.token[style*="color: rgb(113, 140, 0)"] {
    color: #79740e !important; /* Gruvbox Yellow */
}

/* Punctuation */
.token.punctuation {
    color: #d3869b !important; /* Gruvbox Default text color */
}

/* Functions and Methods */
.token.function {
    color: #427b58 !important; /* Gruvbox Green */
}

/* Target the collections color */
span.token.token[style*="color: rgb(200, 40, 41)"] {
    color: #fb4934 !important; /* Gruvbox Red */
}

/* Attributes and Macros */
.token.attribute, .token.macro.property {
    color: #fb4934 !important; /* Gruvbox Orange */
}

/* Constants and Booleans */
.token.constant, .token.boolean {
    color: #b16286 !important; /* Gruvbox Purple */
}

/* Variables and Parameters */
.token.variable, .token.parameter {
    color: #458588 !important; /* Gruvbox Blue */
}

/* Operators */
.token.operator {
    color: #fb4934 !important; /* Gruvbox Red */
}

/* Numbers */
.token.number {
    color: #b16286 !important; /* Gruvbox Purple */
}

/* Closures and Lambdas */
.token.closure-params, .token.closure-punctuation {
    color: #458588 !important; /* Gruvbox Blue */
}

/* Library and Built-in Types */
.token.library, .token.builtin {
    color: #98971a !important; /* Gruvbox Green */
}

/* Error Handling */
.token.error {
    color: #fb4934 !important; /* Gruvbox Red */
}

/* Highlighting for Rust-specific tokens */
.token.rust-specific {
    color: #458588 !important; /* Gruvbox Blue */
}

/* Generic Selectors for Other Languages */
.token.tag, .token.selector, .token.property {
    color: #427b58 !important; /* Gruvbox Green */
}

.token.attr-value {
    color: #b8bb26 !important; /* Gruvbox Yellow */
}

/* Target the blue color for BookNotFound */
span.token.token[style*="color: rgb(66, 113, 174)"] {
    color: #458588 !important; /* Gruvbox Blue */
}

/* Target the magenta color for enum */
span.token.token[style*="color: rgb(137, 89, 168)"] {
    color: #98971a !important; /* Gruvbox Magenta */
    font-weight: bolder !important;
}

	/* Target the comment color */
span.token.token[style*="color: rgb(142, 144, 140)"] {
    color: #a89988 !important; /* Gruvbox Gray */
    font-family: inherit !important; /* Preserve font family */
    font-style: italic !important; /* Preserve italic style */
}
	
	/* Target the magenta color for enum */
span.token.token[style*="color: rgb(77, 77, 76)"] {
    color: #5c7b42 !important; /* Gruvbox Magenta */
    font-weight: bolder !important;
}

	
	
	


	/*Books Recommandation background */
	/* Targets the background div and changes its color */
	div.gap-x-md.p-sm.rounded-lg,
	cursor-pointer.border {
		background-color: #f2e5bc !important;
		/* Replace with your desired background color */
	}


	/*Site where the infromatiion is pulled from -> background color */
	/*Background color  */
	.p-sm.flex.h-full.w-full.items-center.rounded-lg {
		background-color: #fbf1c7 !important;
	}




	/* Hover for the background color   */
	.p-sm.flex.h-full.w-full.items-center.rounded-lg:hover {
		background-color: #ffd29c !important;
	}


	/*Hovers for the Home  discover and libaray button */
	.md\:hover\:bg-offsetPlus:hover,
	button.md\:hover\:bg-offsetPlus:hover {
		background-color: #f2e5bc !important;
	}




	/*Setting the P font */
	/*Not sure */
	div.inline-flex.h {
		color: #fabd2f !important;
	}



	
	/*Related font and color change */
	
	.transition-all.duration-300.md\:group-hover\:text-super.md\:dark\:group-hover\:text-superDark.default.font-sans.text-base.font-medium.text-textMain.dark\:text-textMainDark.selection\:bg-super\/50.selection\:text-textMain.dark\:selection\:bg-superDuper\/10.dark\:selection\:text-superDark{
    /* Your styles here */
		color:#516d39 !important ; 
		font-family: "Karla" !important ; 
}
	
	/*Realted word */

	.default.font-display.text-lg.font-medium.text-textMain.dark\:text-textMainDark.selection\:bg-super\/50.selection\:text-textMain.dark\:selection\:bg-superDuper\/10.dark\:selection\:text-superDark {
    color: #fb4934 !important; 
	font-family: "Bricolage Grotesque" !important ; 
}

	
	
	
	/*Add hover to the ciration main ones */
	
	
	
	
	
	
}


